body{
    background-color:black;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: brown;
}
p{
    color: rgb(188, 2, 185);
}